body 
	background-color: $slightWhite

.white
	background-color: $white

.navbar 
.navbar.navbar-default
	background-color: $navbgColor

#ajax_msg
	position: fixed
	right: 0
	bottom: 0
	width: 300px
	z-index: 1
	text-align: center
	border-radius: 2px
	display: none

.editable
	cursor: pointer

.editable:hover
	background-color: lightyellow
	background-size: 100%

.btn:not(.btn-raised), 
.btn:not(.btn-raised).btn-default, 
.input-group-btn .btn:not(.btn-raised), 
.input-group-btn .btn:not(.btn-raised).btn-default
	color: $white
	background-color: $btnBg
	border-color: $btnBg

.btn:not(.btn-raised):not(.btn-link):hover, 
.btn:not(.btn-raised):not(.btn-link):focus, 
.input-group-btn .btn:not(.btn-raised):not(.btn-link):hover, 
.input-group-btn .btn:not(.btn-raised):not(.btn-link):focus
	background-color: $btnHover
	border-color: $btnHover

.page-link
	margin-top: 20px

.profile-img
	margin-bottom: 20px